/*-- scss:defaults --*/

/*
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;
*/
$body-bg: #E5E3DE;
//$body-color: #F6F5F3;
$link-color: #70A0CC;
$nav-tabs-link-active-bg: #00E47C;
$nav-tabs-link-active-color: #00E47C;

// Navbar
$navbar-bg: #08312a;
$navbar-fg: #00E47C;
$navbar-hl: #00E47C;
//$nav-tabs-link-active-bg: #00E47C;
//$nav-tabs-link-active-color: #00E47C;

// Footer
$footer-bg: #08312a;
$footer-fg: #00E47C;



